body {
  
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  header {
    background: #333;
    padding: 0rem 0;
    position: relative;
  }
  
  header h1 {
    text-align: center;
    
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    position: absolute;
    width: 100%;
    margin: 20px; //  /* Reset margin to center properly put 0 */ 
  }
  
  nav ul li {
    margin: 0 1rem;
    
    
  }
  
  nav ul li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    

  }
  
  main {
    padding: 1rem;
  }
  
  section {
    margin: 2rem 0;
  }
  
  footer {
    background: white;
    color: black;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  form label {
    margin: 0.5rem 0 0.25rem;
  }
  
  form input, form textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  
video { 
  z-index: -1;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  /*position: fixed;  /* Fixed positioning to keep it in the background */
  top: 0;
  left: 0;
}

.off-screen-menu{
  background-color: rgb(34, 37, 49);
  height: 100vh;

}
