body {
  
    font-family: Arial, sans-serif;
    background-image: url('image1.png');

    line-height: 1.6;
    margin: 0;
    padding: 0;
    height: 100%;

    background-size: cover;  /* The image will cover the entire container without distortion */
    background-position: center;  /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* keeps background fixed while scrolling */
  }
  
  header {
    background: #333;
    padding: 0rem 0;
    position: relative;
  }
  
  header h1 {
   text-align: center;
  }

  nav { 
    padding: 1rem 1rem 0.9rem 200px;
    display: flex;
    background-color: black;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: left;
    padding: 0;
    position: absolute;
    width: 100%;
    margin: 20px; //  /* Reset margin to center properly put 0 */ 
  }
  
  nav ul li {
    margin: 0 1rem;
  }
  
  nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
  }
  
  main {
    padding: 1rem;
  }
  
  section {
    margin: 2rem 0;
  }
  
  footer {
    background: white;
    color: black;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  form label {
    margin: 0.5rem 0 0.25rem;
  }
  
  form input, form textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  


.off-screen-menu  {
  background-color: white;
  height: 100vh;
  width: 100%;
  max-width: 300px;
  position: fixed;
  top: 0;
  left: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  transition: .3s ease;
}

.off-screen-menu.active { 
  left: 0;
}



.ham-menu { 
  display: block;
  height: 5px;
  width: 5px;
  margin-right: auto;
  margin-top: 20px;
  position: relative;
  padding: 10px;
}

.ham-menu span { 
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3a ease;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}

.ham-menu span:nth-child(3) {
  top: 75%;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, 50%) rotate(-45deg);
}

.search { 
  display: flex;
  align-items: center;
  margin-right: 0;

  height: 5px;
  width: 0px;
  margin-right: auto;
  margin-top: 25px;
  position: relative;
  padding: 10px;
}

.search form { 
  display: flex;
  margin:0;
}

.search input { 
  padding: 5px;
  border:1px solid #ddd;
  outline:none;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 16px;
}

.search input:hover { 
  border:1px solid #72a0d4;
}